<div class="outer-wrapper">
  <div class="inner">
    <div class="four-wrapper">
      <div class="leg-1"></div>
      <div class="leg-2"></div>
      <div class="leg-3"></div>
    </div>

    <div class="zero-wrapper">
      <div class="zero-wrapper__middle"></div>
    </div>

    <div class="four-wrapper">
      <div class="leg-1"></div>
      <div class="leg-2"></div>
      <div class="leg-3"></div>
    </div>
  </div>

  <div class="normal-outer hidden-md hidden-lg">
    <h1 class="_404  text-center">404</h1>
  </div>
  <h1 class="pagenotfound">Page not found</h1>
  <span class="not-found-buttons left">
    <a [routerLink]="['/inicio']"> <b>Volver</b> </a>
  </span>
  <span class="not-found-buttons right">
    <a [routerLink]="['/contact', 'no-reason']"> <b>Contacto</b> </a>
  </span>
</div>

