<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AVR3DS</title>
    <base href="/">
    <meta name="description" content="www.AVR3DStudio.com We work with real sites and we turn them into virtual worlds. Augmented Reality, Virtual Reality, Mixed Reality, 360 photo and video, infoarchitecture, 3d maps and web integration. Applications for mobile, and desktop"
    />
    <meta name="keywords" content="XR3DPixel, VR, Virtual Reality, AR, Augmented Reality, MR, Mixed Reality, 360 photo and video, infoarchitecture, 3d mapping, web integration. Applications for mobile, Android, ios, apple, desktop aplications, WebGL, stack MEAN, Mongodb, Express, Angular, Nodejs"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- google verification -->
    <!-- <meta name="google-site-verification" content="fcoDbgL5ya8S0Xb-ftV73J9wsjIq9fPK5vuG21SKxas" /> -->
    <!-- google verification -->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- ######### js recursos externos -->
    <!-- ### js Trianglyfi -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script> -->
    <!-- ### js Googlemap -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnvzXvp94B8GyBRDfWN8TTnI09auvv-BI&language=es"></script> -->
    <!-- ######### js recursos externos -->
</head>

<body>
    <!-- Uso d figure picture y svg images
      <figure>
        <picture>
            <source type="image/svg+xml" srcset="assets/images/corporativo/logo/onlylogo.svg">
            <img src="assets/images/corporativo/logo/onlylogo-180x180.png" alt="Ejemplo de Vectores">
        </picture>
      </figure> -->
    <div class="body_wrap">
        <h1>Hello world desde el servidor de Node.js</h1>
    </div>
</body>

</html>
