<!-- ###############################################################  container sticky | menu1 :icons1-->
<!-- <div class="container sticky no-padding" id="#wrap-menuslider">

</div> -->
<!-- ###############################################################  container sticky | menu:icons1-->
<!-- ###############################################################  container | content:Main | aside-->
<div class="sticky-dash" id="scrollTo_Products">
  <div class="clear-100"></div>
  <!-- <div class="main" > -->
  <!-- ############################################################### HEADER SOLUCIONES -->
  <!-- <div class="row no-padding myboxed">
    <div class="content" role="main">
        <div class=" ">

            <div class="inner">
                <div class="post-title">
                    <h1 class="centered">
                      <a class="align-center"href="#" hidefocus="true" style="outline: none;">Soluciones <span class="lead logo deepshadow">AVR 3d Studio</span></a>
                      <span class="service_img img_grey"><img src="/assets/images/content/products/bg_soluciones_litle.png" alt="icono de proyectos"></span>

                    </h1>
                </div>

                <div class="post-meta-top pull-right">Creado y Diseñado por <span class="post-author">AVR 3D Studio</span></div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
  </div> -->
  <!-- <div  class="container  avr-degradated  avr-deg-solu avr-card" id="prllx2">
      <app-solu-infoleft class="col-sm-12 col-lg-4 hidden-sm"></app-solu-infoleft>
      <app-solu-infoslider class="col-sm-12 col-lg-8 hidden-xs "></app-solu-infoslider>
  </div>
  <div class = "clear-space"></div>
  <div  class="container  avr-degradated sticky-down avr-deg-even avr-card" id="prllx3"> -->
  <!-- </div> -->
  <!-- ############################################################### HEADER SOLUCIONES -->
  <!-- ############################################################### HEADER PROYECTOS PANOKOLOR -->
  <div class="row no-padding myboxed ">
      <div class="content" role="main">
          <div class=" ">

              <div class="inner">
                  <div class="post-title">
                      <div class="wrap-letters">
                          <h1 class='text-center avr_post avr-letters-3dwhite'>Tours Panorámicos 360</h1>
                      </div>
                      <!-- <h1 class="centered">
                        <a class="align-center" href="#" hidefocus="true" style="outline: none;">Proyectos AVR 3d Studio</a>
                        <span class="service_img img_grey"><img src="/assets/images/corporativo/logo/logo_AVR3DS_160x160.png" alt="icono de proyectos"></span>
                      </h1> -->
                  </div>

                  <div class="post-meta-top pull-right">Creado y Diseñado por <span class="post-author">XR3DPixel</span></div>
                  <!-- <div class="post-meta-likes"><a href="#" class="post-comm" hidefocus="true" style="outline: none;">3 commentarios</a><a href="#" class="post-like" hidefocus="true" style="outline: none;">15 Me gusta</a></div> -->
                  <div class="clear"></div>
              </div>
          </div>

      </div>
    <!-- ############################################################### SLIDER -->
    <div id="modal-wrapper" class="container">
        <div class="carousel-wrapper">
          <div id="hero-carousel" class="carousel slide carousel-fade">
            <ol class="carousel-indicators">
              <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#hero-carousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <!-- ############################### panokolor 1 -->
              <div class="item active">
                <div class="service_meta_bot ">
                  <a [routerLink]="['/tour360_01']" class="link_light">
                      <img src="/assets/images/content/products/poster_cafete_reencuentro.jpg">
                      <div class="overlay">
                        <div class="text">Click para ver Tour 360 VR</div>
                      </div>
                  </a>
                </div>
              </div>
              <!-- ############################### panokolor 1 -->
              <!-- ############################### panokolor 2 -->
              <div class="item">
                <div class="service_meta_bot ">
                  <a [routerLink]="['/tour360_02']" class="link_light" >
                      <img src="/assets/images/content/products/poster_evad.jpg">
                      <div class="overlay">
                        <div class="text">Click para ver Tour 360 VR</div>
                      </div>
                  </a>
                </div>
              </div>
              <!-- ############################### panokolor 2 -->
              <!-- ############################### web -->
              <!-- <div class="item">
                  <div class="service_meta_bot ">
                    <a href='' class="link_light" data-toggle="modal" data-target="#modalWebapp">
                        <img src="/assets/images/content/products/poster_designweb.JPG">
                        <div class="overlay">
                          <div class="text">Desarrollo Aplicaciones Web  </div>
                        </div>
                    </a>

                  </div>
              </div> -->
                <!-- ############################### web -->
                <!-- ############################### video RA -->
                <!-- <div class="item">
                    <a href='' class="link_light" data-toggle="modal" data-target="#modalVideoRA">
                        <img src="/assets/images/content/products/poster_videoRA.JPG">
                        <div class="overlay">
                          <div class="text">Click para ver Vídeo </div>
                        </div>
                    </a>
                </div> -->
                <!-- ############################### video RA -->
              <!-- <div class="item">
                <img src=" http://fillmurray.com/1100/400">
              </div> -->
              <!-- <div class="item">
                <img src="http://www.placecage.com/1170/600">
              </div> -->
              <!-- <div class="item">
                <img src=" http://fillmurray.com/1190/650">
              </div> -->
              <!-- <div class="item">
                <img src="http://www.placecage.com/1200/550">
              </div> -->
            </div>
            <a class="left carousel-control" href="#hero-carousel" data-slide="prev">
              <!-- <i class="fa fa-chevron-left left"></i> -->
            </a>
            <a class="right carousel-control" href="#hero-carousel" data-slide="next">
              <!-- <i class="fa fa-chevron-right right"></i> -->
            </a>
          </div>
        </div>
    </div>
    <!-- ############################################################### SLIDER -->
    <div class="clear-100"></div>
  </div>
  <!-- ############################################################### HEADER PROYECTOS PANOKOLOR-->
  <div class = "clear-space"></div>
  <!-- ############################################################### HEADER PROYECTOS VR-->
  <div class="row no-padding myboxed " id="museo-del-rock">
      <div class="content" role="main">
        <div class="inner">
            <div class="post-title">
                <div class="wrap-letters">
                    <h1 class='text-center avr_post avr-letters-3dwhite'>Realidad Virtual</h1>
                </div>
            </div>
            <div class="post-meta-top pull-right">Creado y Diseñado por <span class="post-author">XR3DPixel</span></div>
            <div class="clear"></div>
        </div>
      </div>
    <!-- ############################################################### VIDEOPLAYER video_mine -->
    <div  class="container">
        <div class="video-wrapper video_mine">
            <video  preload="auto" poster="/assets/videos/poster_videoRV.jpg">
                <source src="/assets/videos/XR_VR_rusa.mp4" type="video/mp4" controls>
                Your browser does not support HTML5 video.

            </video>
            <div class="video_controls">
              <div class="button_plyr play"></div>
              <div class="button_plyr pause"></div>
              <div class="button_plyr stop"></div>
              <input type="range" class="seek-bar" value="0">
              <div class="button_plyr mute"><i class="fa fa-volume-up"></i></div>
              <input type="range" class="volume-bar" min="0" max="1" step="0.1" value="1">
              <div class="button_plyr skip_back">
                10s
                <div class="inner-button skip-back"></div>
                <div class="inner-button skip-back"></div>

              </div>
              <div class="button_plyr skip_forward">
                <div class="inner-button skip-forward"></div>
                <div class="inner-button skip-forward"></div>
                10s
              </div>
              <div class="button_plyr full-screen"><i class="fa fa-expand"></i></div>

            </div>

        </div>
    </div>
    <!-- ###############################################################  VIDEOPLAYER video_mine -->
    <div class="clear-100"></div>
  </div>
  <!-- ############################################################### HEADER PROYECTOS VR-->
    <!-- ############################################################### HEADER PROYECTOS PANOKOLOR-->
    <div class = "clear-space"></div>
    <!-- ############################################################### HEADER PROYECTOS AR-->
    <div class="row no-padding myboxed ">
        <div class="content" role="main">
          <div class="inner">
              <div class="post-title">
                  <div class="wrap-letters">
                      <h1 class='text-center avr_post avr-letters-3dwhite'>Realidad Aumentada</h1>
                  </div>
              </div>
              <div class="post-meta-top pull-right">Creado y Diseñado por <span class="post-author">XR3DPixel</span></div>
              <div class="clear"></div>
          </div>
        </div>
      <!-- ############################################################### VIDEOPLAYER video_mine -->


        <div class="wrapper-phone-ra">

          <section id="features">
            <div class="features-inner">
              <div class="features-image col-lg-6 col-md-12 col-sm-12">
                <div class="mobile-landscape">
                    <div class="top"></div>
                    <div class="bottom"></div>
                    <div class="left"></div>
                    <div class="right"></div>
                    <div class="screen">
                      <img src="\assets\images\content\projects\features_01.png" >
                      <!-- "https://i.ibb.co/vPv6tT2/bg.jpg" -->
                      <h2><span>{{ Day }} </span><br><span>{{ Hour }} {{ ampm }}</span></h2>
                      <ul>
                        <li><a (click)="HrefTo('app_android')"><i class="fa fa-android" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
                        <li><a href="tel:509553529" ><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                        <li><a [routerLink]="['/contact', 'app']" ><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                </div>
              </div>


              <ul class="features-list list-1 col-lg-3 col-md-6 col-sm-6">
                <li class="features-item active" data-src="\assets\images\content\projects\features_01.png">
                  <h3 class="features-item-header">Museo Thyssen Málaga 1</h3>
                  <p class="features-item-text">Aplicación de RA, para el museo thyssen de Málaga.</p>
                </li>
                <li class="features-item" data-src="\assets\images\content\projects\features_02.png">
                  <h3 class="features-item-header">Museo Thyssen Málaga 2</h3>
                  <p class="features-item-text">Al detectar, el logotipo del museo con la cámara...</p>
                </li>
                <li class="features-item" data-src="\assets\images\content\projects\features_03.png">
                  <h3 class="features-item-header">Museo Thyssen Málaga 3</h3>
                  <p class="features-item-text">Nos muestra en realidad aumentada, un vídeo.</p>
                </li>
                <li class="features-item" data-src="\assets\images\content\projects\features_04.png">
                  <h3 class="features-item-header">Ejemplo 1 de RA</h3>
                  <p class="features-item-text">Ejemplo 1 de nuestra app.</p>
                </li>
                <li class="features-item" data-src="\assets\images\content\projects\features_05.png">
                  <h3 class="features-item-header">Ejemplo 2 de RA</h3>
                  <p class="features-item-text">Ejemplo 2 de nuestra app.</p>
                </li>
                <li class="features-item" data-src="\assets\images\content\projects\features_06.png">
                  <h3 class="features-item-header">Ejemplo 3 de RA</h3>
                  <p class="features-item-text">Ejemplo 3 de nuestra app.</p>
                </li>
              </ul>
              <ul class="features-list list-2 col-lg-3 col-md-6 col-sm-6">
                <li class="features-item" data-src="\assets\images\content\projects\exRA_comercio.jpg">
                  <h3 class="features-item-header">Comercios</h3>
                  <p class="features-item-text">Utilización en aplicaciones comerciales.</p>
                </li>
                <li class="features-item" data-src="\assets\images\content\projects\exRA_educacion.jpg">
                  <h3 class="features-item-header">Educación</h3>
                  <p class="features-item-text">En los campos de enseñanza, aprendizaje, ciencia, educación.</p>
                </li>
                <li class="features-item" data-src="\assets\images\content\projects\exRA_industria.jpg">
                  <h3 class="features-item-header">Industria</h3>
                  <p class="features-item-text">Aplicaciones industriales de todo tipo.</p>
                </li>
                <li class="features-item" data-src="\assets\images\content\projects\exRA_inmobiliarias.jpg">
                  <h3 class="features-item-header">Inmobiliarias</h3>
                  <p class="features-item-text">El mundo del inmueble.</p>
                </li>
                <li class="features-item" data-src="\assets\images\content\projects\exRA_museos.jpg">
                  <h3 class="features-item-header">Museos</h3>
                  <p class="features-item-text">Para museos, monumentos, eventos culturales...</p>
                </li>
                <li class="features-item" data-src="\assets\images\content\projects\exRA_practico.jpg">
                  <h3 class="features-item-header">otros</h3>
                  <p class="features-item-text">Otras utilidades comerciales.</p>
                </li>
              </ul>

            </div>
            <div class="clear-100"></div>
          </section>
        </div>


      <!-- ###############################################################  VIDEOPLAYER video_mine -->

    </div>
    <div class="clear-100"></div>
    <!-- ############################################################### HEADER PROYECTOS AR-->


  <!-- ############################################################### MODAL 360 EVAD -->
  <!-- <div class="modal fade top_margin" id="modal360_evad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <div class="wrap-item  embed-container hidden-xs">
            <iframe id="panokolor"
              name="panokolor"
              title="panokolor"
              width="650"
              height="325"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0" src="/assets/My-Objects/_360/_evad/index.html">
            </iframe>
          </div>
          <div class="wrap-item embed-container  hidden-sm hidden-md hidden-lg oops ">

              <h1 class="text-center">OOPS!</h1>
              <p id="p_oops" class="text-center">You need 768px min resolution.</p>

          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- ############################################################### MODAL 360 EVAD -->
  <!-- ############################################################### MODAL design web -->
  <!-- <div class="modal fade top_margin" id="modalWebapp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body ">
            <div class=" ">
                <div class="wrap-item  embed-container ">
                    <iframe id="webapp"
                      name="webapps"
                      title="webapps"
                      height="650"
                      width="325"
                      frameborder="0"
                      scrolling="no"
                      marginheight="0"
                      marginwidth="0" src="/assets/My-Objects/webapps/index.html">
                    </iframe>
                  </div>
            </div>
          </div>
        </div>
      </div>
  </div> -->
  <!-- ############################################################### MODAL design web -->
  <!-- ############################################################### MODAL VIDEO AR  -->
  <!-- <div class="modal fade top_margin" id="modalVideoRA" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

          </div>
          <div class="modal-body ">

            <div class=" hidden-xs hidden-sm">
                <video class="video_slider"  autoplay>
                    <source src="" type="video/mp4" controls>

                    Your browser does not support HTML5 video.
                </video>
            </div>

            <div class="wrap-item embed-container hidden-md hidden-lg oops ">

                <h1 class="text-center">OOPS!</h1>
                <p id="p_oops" class="text-center">You need 960px min resolution.</p>

            </div>

          </div>

        </div>
      </div>
  </div> -->
  <!-- ############################################################### MODAL VIDEO AR  -->

</div>
