<!-- ##################### ases-infoslider ###################### -->


        <!-- ########## componente nuevo cubetexto 3d fx-->
        <div class="perspective">

            <label class="tab" for="tab-front-c1">1</label>  <!-- bottom -->
            <label class="tab" for="tab-bottom-c1">2</label> <!-- front -->
            <label class="tab" for="tab-back-c1">3</label>   <!-- back -->
            <label class="tab" for="tab-top-c1">4</label>    <!-- top -->


            <input type="radio" name="tabs" id="tab-top-c1" class="perspective-tabs">
            <input type="radio" name="tabs" id="tab-front-c1" class="perspective-tabs">
            <input type="radio" name="tabs" id="tab-bottom-c1" class="perspective-tabs">
            <input type="radio" name="tabs" id="tab-back-c1" class="perspective-tabs">

            <div class="cube1">
              <!-- ### 4 -->
              <div class="tab-content">
                <h1>Estudio Valorativo</h1>
                <p>
                  Realizamos un estudio valorativo de la situación online de tu empresa, proponiendo soluciones modernas.<br>
                  Llámanos y concertaremos una cita. estamos en el PTA. Parque Tecnológico de Andalucía (Málaga).
                </p>
                <img class="cube3d c3d06" src="assets/images/content/products/cube3d_contact.png">

                <div class=" btn-cube"><a [routerLink]="['/contact', 'asesoria'] " class="btn btn-red"><span>Contactar</span></a></div>
              </div>
              <!-- ### 1 -->
              <div class="tab-content">
                <h1>El marketing digital pasa por medir</h1>
                <p>
                  Usamos herramientas modernas de métricas digitales, para observar los puntos flacos de su empresa.
                  Y así poder ofrecer productos dirigidos.
                  <br> No dude en consultarnos.
                </p>
                <img class="cube3d c3d01" src="assets/images/content/products/cube3d_metricas.png">
              </div>
              <!-- ### 2 -->
              <div class="tab-content">
                <h1>Seguimiento y Control</h1>
                <p>
                  Hacemos continuamente una mejora de nuestras aplicaciones, proponemos soluciones innovadoras,
                  si quieres desmarcarte del resto de empresas de tu sector.
                  <br> La solución está en tus manos, deja que te aconsejemos.
                </p>
                <img class="cube3d c3d02" src="assets/images/content/products/cube3d_lookup.png">
              </div>
              <!-- ### 3 -->
              <div class="tab-content">
                <h1>Redes Sociales</h1>
                <p>
                  Los contenidos de calidad, para compartir en redes sociales, como fotografía o vídeo 360, pueden dar un empuje a tu negocio.
                </p>
                <img class="cube3d c3d04" src="assets/images/content/products/cube3d_rrss.png">
              </div>

            </div>
        </div>
        <!-- ########## componente nuevo cubetexto 3d fx-->

<!-- ##################### ases-infoslider ###################### -->
