<div class="container-services" id="scrollTo_Services">
    <!-- <div class="content " role="main"> -->
    <div class="clear-100"></div>
    <!-- ############################################################### HEADER ASESORIA -->
    <div class="row no-padding myboxed">
        <div class="content" role="main">
            <div class=" ">

                <div class="inner">
                    <div class="post-title">
                        <div class="wrap-letters">
                            <h1 class='align-center avr_post avr-letters-3dwhite'>Asesoría Digital</h1>
                        </div>
                        <!-- <h1 class="centered avr-letters-3dwhite">
                          <a class="align-center "href="#" hidefocus="true" style="outline: none;">Asesoría Digital</a>
                          <span class="service_img img_grey"><img src="/assets/images/corporativo/logo/logo_AVR3DS_160x160.png" alt="icono de proyectos"></span>
                        </h1> -->
                    </div>

                    <div class="post-meta-top pull-right">
                      Creado y Diseñado por <span class="post-author">AVR 3D Studio</span>

                    </div>
                    <!-- <div class="post-meta-likes"><a href="#" class="post-comm" hidefocus="true" style="outline: none;">3 commentarios</a><a href="#" class="post-like" hidefocus="true" style="outline: none;">15 Me gusta</a></div> -->
                    <div class="clear"></div>
                </div>
            </div>

        </div>
        <!-- ##################################################### cube asesoria -->
        <div   class="container   avr-degradated avr-deg-ases avr-card" id="prllx1">
            <!-- <h1>inmo avr works!!</h1> -->
              <!-- <div class="container avr-degradated"> -->
                <!-- ##################### aside-right ###################### -->
                <app-ases-infoleft class="col-lg-4 col-md-4 hidden-mdsm"></app-ases-infoleft>
                <!-- ##################### aside-right ###################### -->
                <!-- ##################### main ###################### -->
                <app-ases-infoslider class="col-lg-8 col-md-8  hidden-sm-down"></app-ases-infoslider>
                <!-- ##################### main ###################### -->
              <!-- </div> -->
              <!-- / A set of walkthrough screens in HTML/CSS/JS. A personal experiment with layering images, CSS3 transitions, & flexbox. -->
            <!-- </div>  -->
          <!-- ###############################################################  container | content:Main | aside-->
        </div>
        <div class="col-lg-12">

            <span class="product-price">
              <a [routerLink]="['/products']"> Saber<b>más</b> </a>
            </span>
        </div>
    </div>
    <!-- ############################################################### HEADER ASESORIA -->


    <div class="clear-100"></div>

    <!-- ############################################################### HEADER FILOSOFIA -->
    <div class="row no-padding myboxed">
        <div class="content" role="main">
            <div class=" ">

                <div class="inner">
                    <div class="post-title">
                        <div class="wrap-letters">
                            <h1 class='align-center avr_post avr-letters-3dwhite'>Nuestro espíritu</h1>
                        </div>
                        <!-- <h1 class="centered avr-letters-3dwhite">
                          <a class="align-center "href="#" hidefocus="true" style="outline: none;">Asesoría Digital</a>
                          <span class="service_img img_grey"><img src="/assets/images/corporativo/logo/logo_AVR3DS_160x160.png" alt="icono de proyectos"></span>
                        </h1> -->
                    </div>

                    <div class="post-meta-top pull-right">
                      Creado y Diseñado por <span class="post-author">AVR 3D Studio</span>

                    </div>
                    <!-- <div class="post-meta-likes"><a href="#" class="post-comm" hidefocus="true" style="outline: none;">3 commentarios</a><a href="#" class="post-like" hidefocus="true" style="outline: none;">15 Me gusta</a></div> -->
                    <div class="clear"></div>
                </div>
            </div>

        </div>

        <div class="container">


          <div class="col-sm-6">
              <div class="service_item ">

                  <div class="service_img"><img class="service-icon" src="/assets/images/_plantilla-velvet/icons/service-icon-vr.png" alt="Virtual Reality"></div>


                  <div class="panel-group ">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" href="#collapse1" (click)="ToogleDirection('direction1')">
                                      <div class="service_title">
                                          <h2>Tecnologías modernas</h2>
                                          <p>Usamos tecnologías punteras y siempre estamos invirtiendo en I + D para estar a la última.</p>

                                      </div>
                                  </a>
                              </h4>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
          <div class="col-sm-6">
              <div class="service_item ">
                  <div class="service_img"><img class="service-icon" src="/assets/images/_plantilla-velvet/icons/service-icon-6.png" alt="analisis"></div>
                  <div class="panel-group ">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" href="#collapse2" (click)="ToogleDirection('direction2')">
                                      <div class="service_title">
                                          <h2>Analisis y Retroalimentación</h2>
                                          <p>Mantenemos un 'feedback' con el cliente en todo momento, mientras se define el producto,
                                            durante el proceso de desarrollo y una vez terminado.</p>
                                      </div>
                                  </a>
                              </h4>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

          <div class="col-sm-6">
              <div class="service_item ">
                  <div class="service_img"><img class="service-icon" src="assets/images/_plantilla-velvet/icons/service-icon-5.png" alt="Virtual Reality"></div>
                  <div class="panel-group ">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" href="#collapse3" (click)="ToogleDirection('direction3')">
                                      <div class="service_title">
                                          <h2>Nos gusta el trato personalizado</h2>
                                          <p>La conversación presencial nos parece la mejor forma de empatizar, conocer a nuestros clientes y conocer mejor su negocio
                                            y por tanto, poder desarrollar productos mucho más cercanos y profesionales, que realmente den soluciones.</p>
                                      </div>
                                  </a>
                              </h4>
                          </div>

                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-6">
              <div class="service_item ">
                  <div class="service_img"><img class="service-icon" src="assets/images/_plantilla-velvet/icons/service-icon-5.png" alt="Virtual Reality"></div>
                  <div class="panel-group ">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a data-toggle="collapse" href="#collapse3" (click)="ToogleDirection('direction3')">
                                      <div class="service_title">
                                          <h2>Diseños personalizados e integradores</h2>
                                          <p>Personalizados para que no se parezcan a nada y se diferencien del resto.
                                            Integradores para que el mayor número de usuarios lo utilicen. Cuidando la experiencia de usuario.</p>

                                      </div>
                                  </a>
                              </h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="clear-50"></div>

        </div>
        <div class="col-lg-12">

            <span class="product-price">
              <a [routerLink]="['/products']"> Saber<b>más</b> </a>
            </span>
        </div>

    </div>
    <!-- <div class="row no-padding myboxed"> -->

    <!-- </div> -->
    <div class="clear-100"></div>
    <!-- ############################################################### HEADER FILOSOFIA -->



        <!-- .row PRICING TABLES-->
        <!-- <div class="row"> -->
        <!-- <div class="col-sm-12"> -->
        <!-- <h6 class="foo">Pricing Tables</h6> -->

        <!-- pricing1-->
        <!-- <div class="pricing_box price_style1 clearfix"> -->
        <!-- <ul> -->

        <!-- <li class="price_col"> -->
        <!--pricing item-->
        <!-- <div class="price_item">
                                <div class="inner">
                                    <div class="badge"></div>
                                    <div class="price_col_head">
                                        <span class="price"><em>$ 500</em><span>per month 1st Year</span></span>
                                    </div>
                                    <div class="price_col_body clearfix">
                                        <div class="price_body_inner">
                                            <div class="price_body_top">
                                                <strong>Basic</strong>
                                                <span>Minimal Integration Page &amp; Tour VR</span>
                                            </div>
                                            <ul>
                                                <li>Movil adaptable</li>
                                                <li>1 GB Storage Multimedia</li>
                                                <li>3,5% transactions fee</li>
                                                <li>Photo 360 not included</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="price_col_foot">
                                        <div class="sign_up"><a href="" class="btn btn-large btn-black"><span>Try Now</span></a></div>
                                    </div>
                                </div>
                            </div> -->
        <!--/ pricing-item -->
        <!-- </li> -->

        <!-- <li class="price_col price_col_red col_active"> -->
        <!--pricing item-->
        <!-- <div class="price_item">
                                <div class="inner">
                                    <div class="badge"></div>
                                    <div class="price_col_head">
                                        <span class="price"><em>$ 999</em><span>per month 1st year</span></span>
                                    </div>
                                    <div class="price_col_body clearfix">
                                        <div class="price_body_inner">
                                            <div class="price_body_top">
                                                <strong>Premium</strong>
                                                <span>Total Integration Page  & VR/3D/AR</span>
                                            </div>
                                            <ul>
                                                <li>Full App Movil</li>
                                                <li>10 GB Storage Multimedia</li>
                                                <li>1,5% transactions fee</li>
                                                <li>Photo 360 included, modelling 3d and AR</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="price_col_foot">
                                        <div class="sign_up"><a href="" class="btn btn-red btn-large"><span>Subscribe</span></a></div>
                                    </div>
                                </div>
                            </div> -->
        <!--/ pricing-item -->
        <!-- </li> -->

        <!-- <li class="price_col price_col_blue"> -->
        <!--pricing item-->
        <!-- <div class="price_item">
                                <div class="badge"></div>
                                <div class="inner">
                                    <div class="price_col_head">
                                        <span class="price"><em>$ 1099</em><span>per month forever</span></span>
                                    </div>
                                    <div class="price_col_body clearfix">
                                        <div class="price_body_inner">
                                            <div class="price_body_top">
                                                <strong>Unlimited</strong>
                                                <span>APP WEB with dashnoard administration (MDBS) &amp; VR/3D/AR </span>
                                            </div>
                                            <ul>
                                                <li>Full App Movil </li>
                                                <li>unlimited Storage Multimedia</li>
                                                <li>1,5% transactions fee</li>
                                                <li>Photo 360 included, modelling 3d and AR</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="price_col_foot">
                                        <div class="sign_up"><a href="" class="btn btn-large btn-black"><span>Try Now</span></a></div>
                                    </div>
                                </div>
                            </div> -->
        <!--/ pricing-item -->
        <!-- </li> -->

        <!-- </ul> -->
        <!-- </div> -->
        <!--/ pricing1-->
        <!-- </div> -->
        <!-- </div> -->
        <!--/ .row-->

    <!-- </div> -->
    <!--/content-->
</div>
<!--/container-->


    <!-- ################################### ¿QUIENES SOMOS? -->
    <!-- <div class="clear-100"></div> -->
    <!-- <div class="row">
      <div class="col-sm-12 col-lg-10 col-lg-offset-1 boxed">
          <div class="inner">
              <div class="post-title">
                  <div class="wrap-letters">
                      <div class="padding-top-50"></div>
                      <h1 class='avr_post avr-letters-3dwhite'>¿Quiénes somos?</h1>
                      <div class="padding-bottom-50"></div>
                  </div>
                  <div class="col-lg-12">
                      <p class="avr_post">Somos un estudio de diseño, desarrollo de soluciones y recursos informáticos para empresas. Entre nuestros
                          productos y servicios se encuentran los siguientes:
                      </p>
                      <p class="avr_post">
                          Estudio y Asesoramiento Digital.

                          Tours Panorámicos 360 con VR.

                          Desarrollo de Aplicaciones Móviles con

                          Realidad Virtual, Realidad Aumentada y Realidad Mixta.

                          Escaneado y Animación 3d.

                      </p>
                  </div>
                  <div class="padding-bottom-50"></div>
              </div>
          </div>
      </div>
    </div> -->
    <!-- ################################### ¿QUIENES SOMOS? -->
    <!-- ################################### ¿QUE OFRECEMOS -->
    <!-- <div class="clear-100"></div> -->
    <!-- <div class="row">XR3DPixel
      <div class="col-sm-12 col-lg-10 col-lg-offset-1 boxed">
          <div class="padding-top-50"></div>
          <div class="inner">
              <div class="post-title">
                  <div class="wrap-letters">
                      <h1 class='avr_post avr-letters-3dwhite'>¿Qué ofrecemos?</h1>
                  </div>
                  <div class="col-lg-12">
                      <br/>
                      <p class="avr_post">
                          Ofrecemos darle una solución informática integral a la medida de su negocio, aprovechando
                          <span class="important">las nuevas tecnologías </span>
                          del mercado actual. Para ello nos fundamentamos en los siguientes puntos de nuestra filosofía de trabajo.
                      </p>
                  </div>
                  <div class="clear"></div>
                  <div class="service_list service_list_4">
                      <div class="row ">
                          <div class="col-sm-4">
                              <div class="service_item boxed">
                                  <div class="my_inner">
                                      <div class="service_img"><img class="service_icon  litle_post" src="assets/images/content/posts/comunicacion.png" alt="comunicacion feedback con el cliente" /></div>
                                      <div class="service_title">
                                          <h2>¡¡ El Cliente es lo primero !!</h2>
                                          <p>En XR3DPixel, nuestro cliente es muy importante.</p>
                                          <br><br>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-sm-4">
                              <div class="service_item boxed">
                                  <div class="my_inner">
                                      <div class="service_img"><img class="service_icon litle_post" src="assets/images/content/posts/calidad.png" alt="" /></div>
                                      <div class="service_title">
                                          <h2>¡¡ Software de calidad !!</h2>
                                          <p>La calidad de nuestros servicios y aplicaciones, debe primar en todo lo que hacemos</p>
                                          <br>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-sm-4">
                              <div class="service_item boxed">
                                  <div class="my_inner">
                                      <div class="service_img"><img class="service_icon  litle_post" src="assets/images/content/posts/evolucion.png" alt="" /></div>
                                      <div class="service_title">
                                          <h2>¡¡ Investigación y Evolución constantes !!</h2>
                                          <p>Necesitamos estar a la última y transmitírselo a nuestros clientes</p>
                                      </div>

                                  </div>
                              </div>
                          </div>

                          <div class="clear"></div>
                          <div class="mytooltip tttop service_meta_bot"><a [routerLink]="['/services']" class="btn btn-red"><span>Nuestros servicios</span></a>
                              <span class="tiptext">¿Quiere saber más acerca de nuestros servicios? </span>
                              <span class="flecha down"></span>
                          </div>

                      </div>

                  </div>

              </div>

              <div class="clear"></div>
          </div>
          <div class="padding-bottom-50"></div>
      </div>
    </div>
    <div class="clear-100"></div> -->
    <!-- ################################### ¿QUE OFRECEMOS -->
    <!-- ################################### PRODUCTOS -->
    <!-- <div class="clear-100"></div> -->
    <!-- <div class="row">
      <div class="col-sm-12 col-lg-10 col-lg-offset-1 boxed">
          <div class="padding-top-50"></div>
          <div class="inner">
              <div class="post-title">
                  <div class="wrap-letters">
                      <h1 class='avr_post avr-letters-3dwhite'>Nuestros productos</h1>
                  </div>
                  <div class="col-lg-12">
                      <br/>
                      <p class="avr_post">
                          Nuestros productos, se basan en integrar las técnicas de posicionamiento, visibilidad y marketing de toda la
                          vida con tecnologías modernas:

                          Diseños 3d, Fotografía y Tours panorámicos 360 + VR,

                          Aplicaciones Móviles para Android y Apple con

                          Realidad Virtual y Realidad Aumentada
                      </p>

                  </div>
                  <div class="clear"></div>
                  <div class="service_list service_list_4">
                      <div class="row gallery-cards">
                          <div class="service_item card boxed col-xs-12 col-sm-6 col-md-6 col-lg-6">
                              <div class="card-container">
                                <div class="avr-card">
                                  <div class="card-head">
                                    <img src="assets/images/content/products/prd_1.png" alt="logo number" class="product-img-number ">
                                    <span class="back-text">
                                            AVR
                                    </span>
                                  </div>
                                  <div class="card-body">
                                    <div class="product-desc">
                                      <span class="product-title">
                                              Asesoría <b>Digital</b>
                                              <span class="avr-badge">
                                                New
                                              </span>
                                      </span>
                                      <span class="product-caption">
                                          web, redes sociales, SEO, Marketing, visibilidad, contenidos digitales, etc.
                                            </span>
                                      <span class="product-rating">
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                              <i class="fa fa-star"></i>
                                            </span>
                                    </div>
                                    <div class="explaining-details">
                                      <br>
                                      <h2>Asesoría Digital</h2>
                                      Realizamos un estudio pormenorizado de la situación de tu empresa a nivel online y a nivel tacnológico.

                                    </div>
                                    <div class="product-properties">
                                      <span class="product-color">
                                        <h4>Colour</h4>
                                        <ul class="ul-color">
                                          <li><a href="#" class="orange "></a></li>
                                          <li><a href="#" class="green "></a></li>
                                          <li><a href="#" class="violet "></a></li>
                                        </ul>
                                      </span>
                                      <span class="product-price">
                                          <a [routerLink]="['/products']"> Saber<b>más</b> </a>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="service_item card boxed col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="card-container">
                              <div class="avr-card">
                                <div class="card-head">
                                  <img src="assets/images/content/products/prd_2.png" alt="logo number" class="product-img-number ">

                                  <span class="back-text">
                                          AVR
                                        </span>
                                </div>
                                <div class="card-body">
                                  <div class="product-desc">
                                    <span class="product-title">
                                            Soluciones <b>AVR</b>
                                            <span class="avr-badge">
                                              New
                                            </span>
                                    </span>
                                    <span class="product-caption">
                                            Foto, vídeo, panoramas 360 VR, Realidad Virtual y Aumentada, Modelado y Escaneado 3D.
                                          </span>
                                    <span class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                          </span>
                                  </div>
                                  <div class="explaining-details">
                                    <br>
                                    <h2>Soluciones AVR</h2> Te proponemos soluciones a la medida de tu negocio, con contenidos inmejorables e innovadores.
                                  </div>
                                  <div class="product-properties">

                                    <span class="product-color">
                                      <h4>Colour</h4>
                                      <ul class="ul-color">
                                        <li><a href="#" class="orange "></a></li>
                                        <li><a href="#" class="green "></a></li>
                                        <li><a href="#" class="violet "></a></li>
                                      </ul>
                                    </span>
                                    <span class="product-price">
                                        <a [routerLink]="['/products']"> Saber<b>más</b> </a>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="clear"></div>
                      </div>
                  </div>
              </div>
              <div class="clear"></div>
          </div>
          <div class="padding-bottom-50"></div>
      </div>
    </div>
    <div class="clear-100"></div> -->
    <!-- ################################### PRODUCTOS -->
