<!-- ##################### Main-center ###################### -->
<!-- ###################################### RA RV 360  -->
        <!-- ########## componente nuevo cubetexto 3d fx-->
        <div class="perspective">
            <label class="tab" for="tab-top-c2">4</label>
            <label class="tab" for="tab-front-c2">1</label>
            <label class="tab" for="tab-bottom-c2">2</label>
            <label class="tab" for="tab-back-c2">3</label>

            <input type="radio" name="tabs" id="tab-top-c2">
            <input type="radio" name="tabs" id="tab-front-c2">
            <input type="radio" name="tabs" id="tab-bottom-c2">
            <input type="radio" name="tabs" id="tab-back-c2">

            <div class="cube2">
              <div class="tab-content">
                <h1>REALIDAD AUMENTADA</h1>
                <p>Añade más valor y contenido nuevo a tu empresa, desarrollamos aplicaciones móviles corporativas con Realidad Aumentada.
                  Destácate de tus competidores, deja a tus clientes alucinando. <br>
                  Podrán ver a partir de una imagen, un modelo 3d <br>
                  en Realidad Aumentada.<br>
                  Para todo tipo de negocio, empresas de <br>
                  moda, de transportes, hostelería, <br>
                  turismo, museos, etc.
                </p>
                <img class="cube3d c3d04" src="assets/images/content/products/cube3d_ra.png">
              </div>
               <div class="tab-content">
                <h1> MODELADO 3D</h1>
                <p>Imagina una inmobiliaria, no sería maravilloso poder mostrarle a sus clientes,
                  los modelos 3D de esos inmuebles sin necesidad que estén construidos, desde los propios planos. <br>
                   Nada que ver con las aburridas <br>
                   fotografías de siempre.<br>
                  Pues esto es aplicable a todo <br>
                   tipo de negocios: hoteles, <br>
                   campos de golf, inmobiliarias, etc.</p>
                <img class="cube3d c3d01" src="assets/images/content/products/cube3d_3d.png">
              </div>
              <div class="tab-content">
                <h1>VISITA PANORÁMICA 360</h1>
                <p>Si quieres dejar a tus clientes, aún más impresionados, incorpora a tus aplicaciones o webs, visitas panorámicas 360
                  interactivas, con fotografía 4k, visibles desde cualquier dispositivo.</p>
                <img class="cube3d c3d03" src="assets/images/content/products/cube3d_360.png">
                <!-- <div class="service_meta_bot "><a [routerLink]="[ '/examples/_360'] " class="btn btn-red "><span>Contactar</span></a></div> -->
              </div>
              <div class="tab-content">
                  <h1>REALIDAD VIRTUAL</h1>
                  <p>Si además quieres, ofrecer una experiencia única de usuario, acopla a esas aplicaciones una Experiencia de Realidad Virtual.
                    Creerán que están dentro del mismo espacio real. <br>
                    Con nuestro software y unas simples cardboard.</p>
                  <img class="cube3d c3d03" src="assets/images/content/products/cube3d_rv.png">
                </div>
            </div>
        </div>
        <!-- ########## componente nuevo cubetexto 3d fx-->


<!-- ###################################### RA RV 360 -->

<!-- <div class="row no-padding myboxed">
    <div class="content" role="main">
        <div class="post-item post-img ">

            <div class="inner">
                <div class="post-title hidden-xs hidden-sm">
                    <h2>
                        <a href="#" hidefocus="true" style="outline: none;">¿Cómo <span class="lead logo deepshadow">AVR 3d Studio</span>
                      <span class="service_img"><img src="/assets/images/_plantilla-velvet/icons/service-icon-12.png" alt=""></span> puede potenciar tu Negocio?</a>
                    </h2>
                </div>

                <div class="post-meta-top">Creado y Diseñado por <span class="post-author">AVR 3D Studio</span></div>
                <div class="post-meta-likes"><a href="#" class="post-comm" hidefocus="true" style="outline: none;">3 commentarios</a><a href="#" class="post-like" hidefocus="true" style="outline: none;">15 Me gusta</a></div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
</div> -->
<!-- ##################### Main-center ###################### -->
