<div class="container container-services" id="scrollTo_Legal">
    <!--content-->
    <div class="content " role="main">

        <div class="clear">
            <div class="col-sm-12">
                <br>
                <br>
            </div>
        </div>

        <!-- .service list-->
        <div class="post-item post-quote boxed">
            <!-- <span class="post-label"></span> -->
            <div class="inner">
                <div class="post-title">
                    <div class="wrap-letters">
                        <h1 class='avr_post deepshadow'>Documentos legales</h1>
                        <!-- <h1 class='avr_post elegantshadow'>Elegant Shadow</h1> -->
                        <!-- <h1 class='avr_post deepshadow'>deep Shadow</h1> -->
                        <!-- <h1 class='avr_post insetshadow'>Inset Shadow</h1> -->
                        <!-- <h1 class='avr_post retroshadow'>Retro Shadow</h1> -->
                        <img class="avr_post" alt="legalidad" src="assets/images/content/posts/legality.png">

                    </div>
                    <div class="col-lg-12">
                        <br/>
                        <p class="avr_post">
                            Política de privacidad | Garantías de productos | ¿Porqué no usamos 'Cookies'? | Copy Right
                        </p>
                    </div>
                    <div class="clear"></div>
                    <!-- service_list -->
                    <div class="service_list service_list_4">
                        <!-- .row-->
                        <div class="row gallery-cards">
                            <!--service item-->
                            <div class="col-sm-6 card">
                                <div class="service_item boxed">
                                    <div class="my_inner">
                                        <!-- <div class="service_img"><img class="service_icon  litle_post" src="assets/images/content/posts/comunicacion.png" alt="comunicacion feedback con el cliente" /></div> -->
                                        <div class="service_title">
                                            <h1>Política de privacidad</h1>
                                            <p>En XR3DPixel, nuestro cliente es muy importante, sus datos lo son más.</p>
                                        </div>
                                        <div class="service_desc">
                                            <h6>Formularios de contacto</h6>
                                            <p>Solicitamos los siguientes datos personales: su nombre, el nombre de su empresa, su correo electrónico y su teléfono. Para responder a los requerimientos de los usuarios de <span class="special_secondary">https://www.avr3dstudio.com.</span>                                                Utilizamos esos datos para responder a su solicitud y dar respuesta a las dudas, quejas, comentarios o inquietudes que puedas tener relativas a la información incluida en la web, los servicios que prestamos
                                                a través de ella, así como cualesquiera otras consultas que puedas tener y que no estén sujetas a las condiciones de contratación.
                                            </p>
                                            <p>
                                                Le informamos, que los datos que usted nos facilita estarán ubicados en los servidores propios de XR3DPixel, ubicada en Málaga, donde se implementan todas las medidas técnicas y organizativas de seguridad establecidas en la legislación vigente.
                                            </p>
                                            <p>
                                                Todos esos datos, son además encriptados de forma segura, con algoritmos de encryptación de doble encryptación, los más seguros por el momento.
                                            </p>
                                        </div>
                                        <!-- <div class="service_meta_bot"><a href="#" class="btn btn-red"><span>Learn More</span></a></div> -->
                                    </div>
                                </div>
                            </div>
                            <!--/service item-->

                            <!--service item-->
                            <div class="col-sm-6 card">
                                <div class="service_item boxed">
                                    <div class="my_inner">
                                        <!-- <div class="service_img"><img class="service_icon litle_post" src="assets/images/content/posts/calidad.png" alt="" /></div> -->
                                        <div class="service_title">
                                            <h1>Servicios garantizados</h1>
                                            <p>La calidad de nuestros servicios y aplicaciones, debe primar en todo lo que hacemos</p>
                                        </div>
                                        <div class="service_desc">
                                            <h6>Creemos en nuestros productos</h6>
                                            <p>En <span class="special_secondary">XR3DPixel</span> somos conscientes de que las necesidades de nuestros clientes son la medida exacta para la calidad de nuestra atención al público. La satisfacción es la
                                                llave para el éxito de nuestra empresa, e intentamos que el cliente vuelva a nosotros y no al producto que le vendimos. Por ello, es nuestra meta primordial cumplir con las exigencias de nuestros clientes
                                                en cuanto a la calidad de producto, el servicio diligente, la amabilidad en el trato, el asesoramiento honesto y el fiel cumplimiento del compromiso de suministro libre de errores. Es de mayor importancia
                                                mejorar cada aspecto a diario e introducir innovaciones como el mejor medio para mantener la fidelidad de los clientes.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/service item-->
                        </div>
                        <!--/ .row-->
                        <div class="clear"></div>
                        <!-- .row-->
                        <div class="row gallery-cards">
                            <!--service item-->
                            <div class="col-sm-6 card">
                                <div class="service_item boxed">
                                    <div class="my_inner">
                                        <!-- <div class="service_img"><img class="service_icon  litle_post" src="assets/images/content/posts/evolucion3.png" alt="" /></div> -->
                                        <div class="service_title">
                                            <h1>¿Porqué no usamos cookies?</h1>
                                            <p>Necesitamos estar a la última y transmitírselo a nuestros clientes</p>
                                        </div>
                                        <div class="service_desc">
                                            <h6>¡¡Una página libre de cookies!!</h6>
                                            <p>
                                                Utilizamos tecnologías modernas de programación y no necesitamos cookies. La cookie es un dato guardado sin ningún tipo de protección en el ordenador del cliente y de fácil acceso, los programadores las usan para guardar datos del usuario de la conexión
                                                o de la sesión iniciada, esos datos son fácilmente accesibles por otros programadores mal intencionados.
                                            </p>
                                            <p>
                                                Para que el usuario esté siempre protegido, nuestras cookies desaparecen, no utilizamos, en cambio si fuese necesario utilizaríamos nuevas formas de guardar esa información. Nos referimos a los <span class="important">tokens encryptados de doble vía</span>.

                                            </p>
                                            <p>
                                                Pero no existe un mundo libre de cookies, de momento. Los artículos de este sitio pueden incluir contenido incrustado (por ejemplo, vídeos, imágenes, artículos, robots-web, etc.). El contenido incrustado de otras web se comporta exactamente de la misma
                                                manera que si el visitante hubiera visitado la otra web. Si ellos usan cookies, la ley dice que ellos deben ser responsables de su tratamiento.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/service item-->

                            <!--service item-->
                            <div class="col-sm-6 card">
                                <div class="service_item boxed">
                                    <div class="my_inner">
                                        <!-- <div class="service_img"><img class="service_icon  litle_post" src="assets/images/content/posts/comunicacion.png" alt="comunicacion feedback con el cliente" /></div> -->
                                        <div class="service_title">
                                            <h1>Copy Right</h1>
                                            <p>Nuestros contenidos son exclusivos.</p>
                                        </div>
                                        <div class="service_desc">
                                            <h6>El trabajo bien hecho tiene propietario.</h6>
                                            <p>
                                                Nuestros contenidos web, son el esfuerzo de varios profesionales del diseño, apropiarse indevidamente no sería ni justo ni legal.
                                            </p>
                                            <p>
                                                Las siguientes condiciones de uso regulan el acceso y uso de las páginas web contenidas en este sitio, el cual puede ser visitado libremente, salvo en aquellas zonas que expresamente están reservadas a usuarios administradores. La información, contenidos
                                                y elementos suministrados a través de este sitio web se encuentran protegidos por las leyes españolas e internacionales sobre propiedad industrial e intelectual. Los contenidos, elementos y cualesquiera
                                                otros componentes incluidos en el sitio web, o suministrados a través del mismo, pertenecen a
                                                <span class="special_secondary">XR3DPixel</span>, el diseño web, código fuente y software, sus propios logotipos, textos, texturas, menús, iconos, botones, gráficos, imágenes, fotografías, archivos de
                                                audio y video, animaciones y cualquier otro contenido o componente del sitio web o, en caso de elementos de terceros, dispone de la correspondiente autorización o licencia para su utilización.
                                            </p>

                                        </div>
                                        <!-- <div class="service_meta_bot"><a href="#" class="btn btn-red"><span>Learn More</span></a></div> -->
                                    </div>
                                </div>
                            </div>
                            <!--/service item-->
                            <div class="clear"></div>
                            <div class="mytooltip tttop service_meta_bot"><a [routerLink]="['/inicio']" class="btn btn-red"><span>Inicio</span></a>
                                <span class="tiptext">Volver a XR3DPixel </span>
                                <span class="flecha down"></span>
                            </div>

                        </div>
                        <!--/ .row-->



                    </div>
                    <!-- service_list -->
                </div>
                <!-- <div class="post-meta-top">Posted <span class="post-date">2 days ago</span> by <span class="post-author">Marcel Styraus</span></div> -->
                <!-- <div class="post-meta-likes"><a href="#" class="post-comm">3 comments</a><a href="#" class="post-like">15 likes</a></div> -->
                <div class="clear"></div>
            </div>
        </div>



        <!--/ .service list-->


        <!-- .row PRICING TABLES-->
        <!-- <div class="row"> -->
        <!-- <div class="col-sm-12"> -->
        <!-- <h6 class="foo">Pricing Tables</h6> -->

        <!-- pricing1-->
        <!-- <div class="pricing_box price_style1 clearfix"> -->
        <!-- <ul> -->

        <!-- <li class="price_col"> -->
        <!--pricing item-->
        <!-- <div class="price_item">
                                <div class="inner">
                                    <div class="badge"></div>
                                    <div class="price_col_head">
                                        <span class="price"><em>$ 500</em><span>per month 1st Year</span></span>
                                    </div>
                                    <div class="price_col_body clearfix">
                                        <div class="price_body_inner">
                                            <div class="price_body_top">
                                                <strong>Basic</strong>
                                                <span>Minimal Integration Page &amp; Tour VR</span>
                                            </div>
                                            <ul>
                                                <li>Movil adaptable</li>
                                                <li>1 GB Storage Multimedia</li>
                                                <li>3,5% transactions fee</li>
                                                <li>Photo 360 not included</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="price_col_foot">
                                        <div class="sign_up"><a href="" class="btn btn-large btn-black"><span>Try Now</span></a></div>
                                    </div>
                                </div>
                            </div> -->
        <!--/ pricing-item -->
        <!-- </li> -->

        <!-- <li class="price_col price_col_red col_active"> -->
        <!--pricing item-->
        <!-- <div class="price_item">
                                <div class="inner">
                                    <div class="badge"></div>
                                    <div class="price_col_head">
                                        <span class="price"><em>$ 999</em><span>per month 1st year</span></span>
                                    </div>
                                    <div class="price_col_body clearfix">
                                        <div class="price_body_inner">
                                            <div class="price_body_top">
                                                <strong>Premium</strong>
                                                <span>Total Integration Page  & VR/3D/AR</span>
                                            </div>
                                            <ul>
                                                <li>Full App Movil</li>
                                                <li>10 GB Storage Multimedia</li>
                                                <li>1,5% transactions fee</li>
                                                <li>Photo 360 included, modelling 3d and AR</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="price_col_foot">
                                        <div class="sign_up"><a href="" class="btn btn-red btn-large"><span>Subscribe</span></a></div>
                                    </div>
                                </div>
                            </div> -->
        <!--/ pricing-item -->
        <!-- </li> -->

        <!-- <li class="price_col price_col_blue"> -->
        <!--pricing item-->
        <!-- <div class="price_item">
                                <div class="badge"></div>
                                <div class="inner">
                                    <div class="price_col_head">
                                        <span class="price"><em>$ 1099</em><span>per month forever</span></span>
                                    </div>
                                    <div class="price_col_body clearfix">
                                        <div class="price_body_inner">
                                            <div class="price_body_top">
                                                <strong>Unlimited</strong>
                                                <span>APP WEB with dashnoard administration (MDBS) &amp; VR/3D/AR </span>
                                            </div>
                                            <ul>
                                                <li>Full App Movil </li>
                                                <li>unlimited Storage Multimedia</li>
                                                <li>1,5% transactions fee</li>
                                                <li>Photo 360 included, modelling 3d and AR</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="price_col_foot">
                                        <div class="sign_up"><a href="" class="btn btn-large btn-black"><span>Try Now</span></a></div>
                                    </div>
                                </div>
                            </div> -->
        <!--/ pricing-item -->
        <!-- </li> -->

        <!-- </ul> -->
        <!-- </div> -->
        <!--/ pricing1-->
        <!-- </div> -->
        <!-- </div> -->
        <!--/ .row-->

    </div>
    <!--/content-->
</div>
<!--/container-->
