<!-- ############################### JUMBOTRON -->
<div class="jumbotron-fluid disappear sticky_3000"  id="scrollTo_Inicio">

  <!-- ### row ### -->
  <div class="row">
      <!-- Horizontal Filter  class="blog_filter boxed"-->
      <div class="text-center">
          <!-- ############## LOGO LETTERS -->
          <div class="my-sm-0 logo-wrapper">
              <!-- <img class="logo_avr3ds" alt="logo de la empresa" src="assets/images/content/jumbotron/wall-rv-black-1600x900.jpg"> -->
              <div class="wrapper-jumbotron" id="jumbotron-corporative">
                <div class="container-text">
                 <div class="h1">XR3D PIXEL</div>
                </div>
                <section class="wrapper-logo-flow">
                  <div class="h1">
                    <span class="flash">Te da la bienvenida</span>
                    <span class="flash">a un mundo diferente</span>
                  </div>

                  <div class="h2">
                    <span class="light">Tours 360</span>
                    <span class="light">Realidad Virtual Y</span>
                    <span class="light">Realidad Aumentada</span>
                  </div>
                </section>
                <!-- "Creamos Mundos Virtuales desde el Mundo Real." -->
                <h2 class="insetshadow">Creamos diferentes Realidades para tu Mundo Empresarial</h2>
              </div>
          </div>
          <!-- ############## LOGO LETTERS -->

      </div>
      <!--/ Horizontal Filter -->
  </div>
  <!-- ### row ### -->
</div>
<!-- ############################### JUMBOTRON -->

<!-- ############################### SECTION -->
<div  class="sticky-dash" >
    <!-- ################################### EXPERIENCIA AR -->
    <div class="clear-100"></div>
    <div class="row">
        <div class="col-sm-12 col-lg-10 col-lg-offset-1 boxed">
            <div class="padding-top-50"></div>
            <div class="inner">
                <div class="wrap-letters wrapper-text3d">
                    <h1 class='avr_post text3d'>¡VIVE LA REALIDAD AUMENTADA!</h1>
                    <!-- <h1 class='avr_post elegantshadow'>Elegant Shadow</h1> -->
                    <!-- <h1 class='avr_post deepshadow'>deep Shadow</h1> -->
                    <!-- <h1 class='avr_post insetshadow'>Inset Shadow</h1> -->
                    <!-- <h1 class='avr_post retroshadow'>Retro Shadow</h1> -->
                    <!-- <img class="avr_post" alt="tecnologias" src="assets/images/content/posts/tecnologias.png"> -->
                </div>
                <div class="padding-bottom-50"></div>
                <hr/>

                <app-visit_card></app-visit_card>

                <div class="post-meta-top">Posted <span class="post-date">24 de Mayo 2019</span> by <span class="post-author">XR3DPixel</span></div>
                <div class="post-meta-likes"><a href="#" class="post-comm">3 comments</a><a href="#" class="post-like">15 likes</a></div>
                <div class="clear"></div>
            </div>
            <div class="padding-bottom-50"></div>
        </div>
    </div>
    <div class="clear-100"></div>
    <!-- ################################### EXPERIENCIA AR -->
    <!-- ################################### TECNOLOGIAS -->
    <div class="row">
      <div class="col-sm-12 col-lg-10 col-lg-offset-1 boxed">
          <div class="padding-top-50"></div>
          <!-- <span class="post-label"></span> -->
          <div class="inner">
              <div class="post-title">
                  <div class="wrap-letters wrapper-text3d">
                      <h1 class='avr_post text3d'>Tecnologías</h1>
                      <!-- <h1 class='avr_post elegantshadow'>Elegant Shadow</h1> -->
                      <!-- <h1 class='avr_post deepshadow'>deep Shadow</h1> -->
                      <!-- <h1 class='avr_post insetshadow'>Inset Shadow</h1> -->
                      <!-- <h1 class='avr_post retroshadow'>Retro Shadow</h1> -->
                      <!-- <img class="avr_post" alt="tecnologias" src="assets/images/content/posts/tecnologias.png"> -->

                  </div>
                  <div class="col-lg-12">
                      <br/>
                      <p class="avr_post">
                          <!-- // say something -->
                      </p>
                  </div>
                  <div class="clear"></div>
                  <br/>
                  <hr/>
                  <!-- .service list-->
                  <div class="service_list service_list_3">
                      <!-- .row-->
                      <div class="row ">
                          <!--service item IOS-->
                          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                              <div class="service_item logo">
                                  <div class="service_img boxed"><img class="service_icon logos_tecno" src="assets/images/myicons/iconos/logo_ios_2.png" alt="" /></div>
                                  <div class="service_title">
                                      <h2>IOS</h2>
                                  </div>
                                  </div>
                          </div>
                          <!--/service item-->

                          <!--service item ANDROID-->
                          <div class="col-xs-12 col-sm-6  col-md-4 col-lg-3">
                              <div class="service_item logo">
                                  <div class="service_img boxed"><img class="service_icon logos_tecno" src="assets/images/myicons/iconos/logo_android_2.png" alt="" /></div>
                                  <div class="service_title">
                                      <h2>Android</h2>
                                      <!-- <p>Etiam At Risus Et Justo Dignissim Congue</p> -->
                                  </div>
                                  </div>
                          </div>
                          <!--/service item-->

                          <!--service item-->
                          <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hidden-xs">
                              <div class="service_item logo">
                                  <div class="service_img boxed"><img class="service_icon logos_tecno" src="assets/images/myicons/iconos/logo_cardboard_2.png" alt="" /></div>
                                  <div class="service_title">
                                      <h2>Google Card Board</h2>
                                  </div>
                                  </div>
                          </div> -->
                          <!--/service item-->

                          <!--service item-->
                          <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hidden-xs">
                              <div class="service_item logo">
                                  <div class="service_img boxed"><img class="service_icon logos_tecno" src="assets/images/myicons/iconos/logo_daydream_2.png" alt="" /></div>
                                  <div class="service_title">
                                      <h2>Day Dream</h2>
                                  </div>
                                  </div>
                          </div> -->
                          <!--/service item-->

                          <!--service item-->
                          <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hidden-xs">
                              <div class="service_item logo">
                                  <div class="service_img boxed"><img class="service_icon logos_tecno" src="assets/images/myicons/iconos/logo_htcvive_2.png" alt="" /></div>
                                  <div class="service_title">
                                      <h2>HTC Vive</h2>
                                  </div>
                                  </div>
                          </div> -->
                          <!--/service item-->

                          <!--service item-->
                          <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hidden-xs">
                              <div class="service_item logo">
                                  <div class="service_img boxed"><img class="service_icon logos_tecno" src="assets/images/myicons/iconos/logo_oculus_2.png" alt="" /></div>
                                  <div class="service_title">
                                      <h2>Oculus</h2>
                                  </div>
                              </div>
                          </div> -->
                          <!--/service item-->

                          <!--service item-->
                          <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hidden-xs">
                              <div class="service_item logo">
                                  <div class="service_img boxed"><img class="service_icon logos_tecno" src="assets/images/myicons/iconos/logo_hololens_2.png" alt="" /></div>
                                  <div class="service_title">
                                      <h2>Microsoft HoloLens</h2>
                                  </div>
                                  </div>
                          </div> -->
                          <!--/service item-->

                          <!--service item-->
                          <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 hidden-xs">
                              <div class="service_item logo">
                                  <div class="service_img boxed"><img class="service_icon logos_tecno" src="assets/images/myicons/iconos/logo_arcore_2.png" alt="" /></div>
                                  <div class="service_title">
                                      <h2>Ar Core</h2>
                                  </div>
                              </div>
                          </div> -->
                          <!--/service item-->

                          <!--service item-->
                          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                              <div class="service_item logo">
                                <div class="service_img boxed">
                                  <img class="service_icon logos_tecno" src="assets/images/myicons/iconos/logo_arkit_2.png" alt="" />
                                </div>
                                <div class="service_title">
                                    <h2>AR Kit</h2>
                                </div>
                              </div>
                          </div>
                          <!--/service item-->

                          <!--service item-->
                          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                              <div class="service_item logo">
                                  <div class="service_img boxed"><img class="service_icon logos_tecno" src="assets/images/myicons/iconos/logo_vuforia_2.png" alt="" /></div>
                                  <div class="service_title">
                                      <h2>Vuforia</h2>
                                  </div>
                              </div>
                          </div>
                          <!--/service item-->
                          <!--service item-->
                          <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                              <div class="service_item logo">
                                  <div class="service_img boxed"><img class="service_icon logos_tecno" src="assets/images/myicons/iconos/logo_gopro_2.png" alt="" /></div>
                                  <div class="service_title">
                                      <h2>Go Pro</h2>
                                  </div>
                              </div>
                          </div> -->
                          <!--/service item-->

                      </div>
                      <!--/ .row-->
                  </div>
                  <!--/ .service list-->


              </div>
              <!-- <div class="post-meta-top">Posted <span class="post-date">2 days ago</span> by <span class="post-author">Marcel Styraus</span></div> -->
              <!-- <div class="post-meta-likes"><a href="#" class="post-comm">3 comments</a><a href="#" class="post-like">15 likes</a></div> -->
              <div class="clear"></div>
          </div>
          <div class="padding-bottom-50"></div>
      </div>
    </div>
    <div class="clear-100"></div>
    <!-- ################################### TECNOLOGIAS -->
    <!-- ################################### PARTNERS -->
    <div class="row">
      <div class="col-sm-12 col-lg-10 col-lg-offset-1 boxed">
          <div class="padding-top-50"></div>
          <!-- <span class="post-label"></span> -->
          <div class="inner">
              <div class="post-title">
                  <div class="wrap-letters wrapper-text3d">
                      <h1 class='avr_post text3d'>Colaboradores</h1>
                      <!-- <h1 class='avr_post elegantshadow'>Elegant Shadow</h1> -->
                      <!-- <h1 class='avr_post deepshadow'>deep Shadow</h1> -->
                      <!-- <h1 class='avr_post insetshadow'>Inset Shadow</h1> -->
                      <!-- <h1 class='avr_post retroshadow'>Retro Shadow</h1> -->
                      <!-- <img class="avr_post" alt="tecnologias" src="assets/images/content/posts/patrocinadores.png"> -->

                  </div>
                  <div class="col-lg-12">
                      <br/>
                      <p class="avr_post">
                          <!-- // say something -->
                      </p>
                  </div>
                  <div class="clear"></div>
                  <br/>
                  <hr/>
                  <!-- .service list-->
                  <div class="service_list service_list_3">
                      <!-- .row-->
                      <div class="row wrapper-carousel">
                        <!-- donde se representaran los 4 items elegidos -->
                        <div class="view-carousel">
                          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3  item-carousel">
                              <div class="service_item logo ">
                                  <div class="service_img_partners ">
                                      <a (click)="HrefTo('junta')" class="pointer img_grey">
                                        <img class="service_icon logos_tecno" src="assets/images/partners/logo_and_emprende.png " alt="andalucía emprende, junta de andalucía" />
                                      </a>
                                  </div>
                                  <div class="service_title ">
                                      <h2>Andalucía emprende</h2>
                                      <!-- <p>Etiam At Risus Et Justo Dignissim Congue</p> -->
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3  item-carousel">
                            <div class="service_item logo">
                                <div class="service_img_partners ">
                                    <a (click)="HrefTo('ghyde')" class="pointer img_grey">
                                      <img class="service_icon logos_tecno " src="assets/images/partners/logo_gabinetedehyde.png " alt="logo de la empresa de Gabinete de Hyde" />
                                    </a>
                                </div>
                                <div class="service_title ">
                                    <h2>El Gabinete de Hyde</h2>
                                    <!-- <p>Proin Quis Tortor Orci. Etiam At Risus Et</p> -->
                                </div>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3  item-carousel">
                              <div class="service_item logo ">
                                  <div class="service_img_partners ">
                                      <a (click)="HrefTo('fr29')" class="pointer img_grey">
                                        <img class="service_icon logos_tecno " src="assets/images/partners/logo_fashionrooms29.png " alt="andalucía emprende, junta de andalucía " />
                                      </a>
                                  </div>
                                  <div class="service_title ">
                                      <h2>Fashion Rooms 29</h2>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3  item-carousel">
                            <div class="service_item logo ">
                                <div class="service_img_partners ">
                                    <a (click)="HrefTo('mlgemprende')" class="pointer img_grey">
                                      <img class="service_icon logos_tecno " src="assets/images/partners/logo_promalaga.png " alt="promálaga" />
                                    </a>
                                </div>
                                <div class="service_title ">
                                    <h2>Promálaga</h2>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="controls-carousel">
                          <div class="left carousel-control prev"></div>
                          <div class="right carousel-control next"></div>
                        </div>
                        <!-- todo el listadode imagenes -->
                        <div class = "listhidden-carousel">
                            <img src="assets/images/partners/logo_and_emprende.png"   alt="andalucía emprende, junta de andalucía " data-title="Andalucía emprende"/>
                            <img src="assets/images/partners/logo_gabinetedehyde.png" alt="logo de la empresa de Gabinete de Hyde" data-title="Gabynete de Hyde"/>
                            <img src="assets/images/partners/logo_fashionrooms29.png" alt="Fashion room 29, empresa de eventos" data-title="Fashion Room 29" />
                            <img src="assets/images/partners/logo_promalaga.png " alt="Promálaga, ayuntamiento de málaga" data-title="Promálaga"/>
                            <!-- <img src="assets/images/partners/item1.png " alt="item1" data-title="item1"/>
                            <img src="assets/images/partners/item2.png " alt="item2" data-title="item2"/>
                            <img src="assets/images/partners/item3.png " alt="item3" data-title="item3"/>
                            <img src="assets/images/partners/item4.png " alt="item4" data-title="item4"/> -->
                        </div>
                      </div>
                  </div>
                  <!--/ .service list-->
              </div>
              <!-- <div class="post-meta-top ">Posted <span class="post-date ">2 days ago</span> by <span class="post-author ">Marcel Styraus</span></div> -->
              <!-- <div class="post-meta-likes "><a href="# " class="post-comm ">3 comments</a><a href="# " class="post-like ">15 likes</a></div> -->
              <div class="clear "></div>
          </div>
          <div class="padding-bottom-50"></div>
      </div>
    </div>
    <div class="clear-100"></div>
    <!-- ################################### PARTNERS -->
</div>
<!-- ############################### SECTION -->
