<!-- ##################### aside-left ###################### -->
        <button class='open-walkthrough open-walkth-solu '>Volver a ver</button>
        <div class='loader'></div>
        <!-- <div class="avr_3dtextfx"> -->

          <!-- ########## componente nuevo texto 3d fx  .avr_3dtextfx  fx-text3d.less -->

          <!-- <div class="t3xts t3xt-1">¡Saludos desde XR3DPixel!</div>
          <div class="t3xts t3xt-2">Esto es</div>
          <div class="t3xts t3xt-3">AVR Inmobiliarias.</div> -->

          <!-- ########## componente nuevo texto 3d fx-->
        <!-- </div> -->


        <div class='walkthrough walkth-solu show reveal'>
          <div class='walkthrough-pagination'>
            <a class='dot dot-solu active'></a>
            <a class='dot dot-solu'></a>
            <a class='dot dot-solu'></a>
            <a class='dot dot-solu'></a>
            <a class='dot dot-solu'></a>
          </div>
          <div class='walkthrough-body'>
            <ul class='screens animate'>
              <!-- ######################################## soluciones -->
              <li class='screen screen-solu active'>
                <!-- #################### analitica 3-->
                <div class='media bars'>
                  <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_axis.png'>
                  <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_3.png'>
                  <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_2.png'>
                  <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_1.png'>
                </div>
                <!-- #################### analitica 3-->
                <h3>
                  Soluciones AVR<br>
                </h3>
                <p>Desde XR3DPixel, proponemos soluciones avanzadas para promocionar tu presencia online y para hacer crecer tu negocio.</p>
              </li>
              <!-- ######################################## soluciones -->
              <!-- ######################################## 360 -->
              <li class='screen screen-solu'>
                <!-- ##################### 360 -->
                <div class='media comm'>
                  <img class='icon' src='assets/images/content/products/icon_360_1.png'>
                  <img class='icon' src='assets/images/content/products/icon_360_2.png'>
                  <img class='icon' src='assets/images/content/products/icon_360_3.png'>
                  <img class='icon' src='assets/images/content/products/icon_360_4.png'>
                </div>
                <!-- ##################### 360 -->
                <h3>
                    360 llega para quedarse<br>
                </h3>
                <p>Fotos y vídeos de alta calidad <span class="text-nowrap">(full HD o 4k)</span> en 360 + RV, para tus redes sociales,
                  aplicaciones móviles o para la web.</p>
              </li>
              <!-- ######################################## 360 -->
              <!-- ######################################## RV -->
              <li class='screen screen-solu'>
                <!-- ########### RV -->
                <div class='media bars'>
                  <img class='icon' src='assets/images/content/products/icon_rv_1.png'>
                  <img class='icon' src='assets/images/content/products/icon_rv_2.png'>
                  <img class='icon' src='assets/images/content/products/icon_rv_3.png'>
                  <img class='icon' src='assets/images/content/products/icon_rv_4.png'>
                </div>
                <!-- ########### RV -->
                <h3>
                  Realidad Virtual<br>
                </h3>
                <p>Haz que tus clientes se sumerjan en experiencias inmersivas de Realidad Virtual. Gana adeptos a tus productos, <br>
                  valoraciones positivas de tu web o app y buenas experiencias de usuario. </p>
              </li>
              <!-- ######################################## RV -->
              <!-- ######################################## RA -->
              <li class='screen screen-solu'>
                <!-- ##################### redes sociales 4 -->
                <div class='media comm'>
                    <img class='icon' src='assets/images/content/products/icon_ar_1.png'>
                    <img class='icon' src='assets/images/content/products/icon_ar_2.png'>
                  </div>
                  <!-- ##################### redes sociales 4-->
                <h3>
                  Realidad Aumentada<br>
                </h3>
                <p>
                  Aplicaciones móbiles con Realidad Aumentada. Cada vez están teniendo más auge, desmárcate de tu competencia con productos
                  innovadores. Con XR3DPixel, son tecnologías al alcance de todas las empresas.
                </p>
              </li>
              <!-- ######################################## RA -->
              <!-- ######################################## soluciones -->
              <li class='screen screen-solu'>
                <!-- ###################### soluciones 5 -->
                <div class='media comm'>
                  <!-- <img class='logo' src='https://s3.amazonaws.com/jebbles-codepen/icon.png'> -->
                  <img class='icon' src='assets/images/content/products/icon_puzzle.png'>
                  <img class='icon' src='assets/images/content/products/icon_rueda.png'>
                </div>
                <!-- ###################### soluciones 5 -->
                <h3>
                  Soluciones AVR<br>
                </h3>
                <p>En ocasiones, la solución para tu negocio pasa por realizar una app-móvil, con Realidad Aumentada o Realidad Virtual, o subir
                  contenidos de calidad a tu web o redes sociales, como fotografía 360 o vídeo 360. No dudes en consultarnos, el estudio
                  es gratutito.
                </p>
              </li>
              <!-- ######################################## soluciones -->
            </ul>
            <button class='prev-screen prev-sc-solu'>
              <i class="material-icons">keyboard_arrow_left</i>
            </button>
            <button class='next-screen next-sc-solu'>
                <i class="material-icons">keyboard_arrow_right</i>
            </button>
          </div>
          <div class='walkthrough-footer'>
            <button class='button next-screen next-sc-solu'>Siguiente</button>
            <button class='button finish finish-solu close close-solu' disabled='true'>Fin</button>
          </div>
        </div>



<!-- ##################### aside-right ###################### -->




                <!-- ##################### ficheros web 2 -->
                <!-- <div class='media files'>
                  <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_1.png'>
                  <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_2.png'>
                  <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_3.png'>
                  <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_4.png'>
                </div> -->
                <!-- ##################### web 2-->



